h1
{
    color: white;
    text-align: left;
}
img
{
    width: 110px;
    height: 180px;
}
#HiddenFigures{
   width: 200px; 
}
body{
    background-color: black;
    color: white;
    text-align: center;
}